* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,header,footer { 
    font-family: 'Quicksand', sans-serif;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 400px;
    padding-right: 50px;
    padding-top: 100px;
    list-style: none;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 100px;
}

.image {
    width: 200px;
    height: 200px;
    padding-left: 30px;
    padding-top: 30px;
    float: left;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 10px;
}

.left {
    width: 600px;
    height: 700px;
}

.right {
    width: 1000px;
    height: 700px;
    text-align: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(218, 190, 245);
    padding-top: 130px;
}

.text {
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-left: 200px;
    font-weight: bold;
    font-size: 30px;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.left1 {
    padding-left: 50px;
}

.right1 { 
    display:block;
    background-color: rgb(177, 222, 222);
    width: 900px; 
    height:480px;
    padding-top: 210px;
    justify-content: center;
    text-align: center;
    justify-items: center;
    color: azure;
}

.button {
    background-color: rgb(164, 92, 197);
    border: none;
    color: rgb(250, 194, 214);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    font-size: 20px;
}

.button:hover {
    background-color: rgb(177, 222, 222);
    color: rgb(164, 92, 197);
    border: 2px solid rgb(164, 92, 197);
}

.hover-effect:hover {
    color: blue;
    text-decoration: solid;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.left2 {
    display:block;
    background-color: rgb(176, 218, 171);
    width: 700px; 
    height:586px;
    padding-top: 250px;
    justify-content: center;
    text-align: center;
    justify-items: center;
    color: azure;
    padding-left: 30px;
    padding-right: 30px;
}

.right2 {
    padding-right: 50px;
}

h1 {
    color: rgb(242, 79, 147);
    font-size: 80px;
    font-weight: bolder;
}

h2 {
    color: azure;
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
}

h4 {
    color: azure;
    font-size: 20px;
}

h3 {
    color: azure;
    font-size: 50px;
    font-weight: lighter;
}

h5 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    padding-left: 350px;
    padding-top: 100px;
    background-color: rgb(249, 210, 52);
    height: 500px;
}

.ending {
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    text-align: space-between;

}
footer {
    text-align: center;
    background-color: rgb(249, 210, 52);
}

.hover-effect1:hover {
    color: rgb(244, 53, 63);
    text-decoration: solid underline;
}

.hover-effect2:hover {
    color: rgb(22, 78, 151);
    text-decoration: solid;
    border: 2px solid rgb(22, 78, 151);
}

.hover-effect3:hover {
    color: rgb(45, 99, 20);
    text-decoration: solid;
    border: 2px solid rgb(45, 99, 20);
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 200px;
    height: 500px;
}

.1l {

}