
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
    font-size: 20px;
    text-decoration: none;
  }
  
  .navigation {
    display: flex;
    height: 60px;
    flex-wrap: nowrap;
    text-align: center;
}

@keyframes changeColor{
    0% {
        background-color:rgb(160, 77, 224);
    }
    60% {
        background-color: darkseagreen;
    }
    80% {
        background-color:coral;
    }
    100% {
        background-color: khaki;
    }
}

.guidetext {
    padding-top: 0.7%;
    width: 25%;
    font-size: 2vh;
    color: rgb(33, 15, 15);
    background-color: #94f5e5;
    
}
.guidetext:hover {
    animation: changeColor 3s;
}


.title {
    color: #850ea9;
    font-family: 'Ubuntu', sans-serif;
    -webkit-text-stroke-width: .8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.sentence {
    background: none;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    font-weight: bold;
    color: #31abf2;
}

.click {
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
}

button {
    background-color: rgb(164, 92, 197);
    border: none;
    color: rgb(250, 194, 214);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    font-size: 20px;
    align-content: center;
    align-items: center;
}

button:hover {
    /*background-color: #40916c;*/
    color: #fff174;
}


