
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
    font-size: 20px;
    text-decoration: none;
  }
  
  .navigation {
    display: flex;
    height: 60px;
    flex-wrap: nowrap;
    text-align: center;
}

@keyframes changeColor{
    0% {
        background-color:rgb(160, 77, 224);
    }
    60% {
        background-color: darkseagreen;
    }
    80% {
        background-color:coral;
    }
    100% {
        background-color: khaki;
    }
}

.guidetext {
    padding-top: 0.7%;
    width: 25%;
    font-size: 2vh;
    color: rgb(33, 15, 15);
    background-color: #94f5e5;
    
}
.guidetext:hover {
    animation: changeColor 3s;
}